@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #ffffff;
  --gray: #878890;
  --black: #232323;
  --primary: #3a643b;
  --secondary: #009ce7;
  --danger: #ff4a4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-black: var(--black);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
